#tracking {
  background-image: url("../../assets/background/bg-image-main.png"),
    url("../../assets/background/top-left.png"), url("../../assets/background/top-right.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top, right top, center bottom;
  width: 100%;
  height: 100%;
  display: flex;

  @include for-size (tablet) {
    background-image: url("../../assets/background/bg-tablet.png");
    background-repeat: repeat;
  }

  @include for-size (mobile) {
    background-image: url("../../assets/background/bg-mobile.png");
    height: 100vh;
    background-repeat: repeat;
    flex-direction: column;

  }

  .main-page {
    width: 100%;
  }
}