#tracking{
    background-image: url("../../assets/background/bg-image-main.png"),
    url("../../assets/background/top-left.png"),url("../../assets/background/top-right.png");
  background-repeat: no-repeat;
  background-size: cover;
}
