.top-cards {
    @include center-items;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    min-height: 220px;

    @include for-size(mobile){
       overflow:hidden;
       overflow-x: scroll; 
       display: flex;
       justify-content: start;
       
    }
    
    .card:hover{
        transform: scale(1.1);
        transform: translateY(-10%);
        border-color: $green-logo;
    }
}