.top-cards {
    @include center-items;
    justify-content: center;
    gap: 10px;
    width: 100%;
    min-height: 220px;
    
    .card:hover{
        transform: scale(1.1);
        transform: translateY(-10%);
        border-color: $green-logo;
    }
}