#footer-section {
    width: 100%;
    min-height: 220px;
    padding: 16px;
    gap: 14px;
    @include for-size(mobile){
        height: auto;
        
    }
    .top-footer {
        @include center-items;
        justify-content: space-between;
        @include for-size(mobile){
            flex-direction: column;
            align-items: flex-start;
            gap:16px;
        }

        .logo-box {
            color: $green-logo;
            @include center-items;
        }

        .nav-items {
            @include for-size(mobile){
                display: flex;
                flex-direction: column;
                font-size:12px;
                padding: 0px;
                
            }
            gap: 16px;

            a {
                @include side-bar-text-format;
                font-family: "Poppins";
                transition: 0.2s;
                @include for-size(mobile){
                    flex-direction: column;
                    font-size:12px;
                    padding: 0px;
                }

            }

            a:hover {
                opacity: 0.7;
            }

        }
    }

    .middle-footer {
        @include center-items;
        justify-content: space-between;
        @include for-size (mobile){
            flex-direction: column-reverse;
            align-items: flex-start;
            gap:16px;
        }

        p {
           @include footer-text-style;
        }

        .social-media {
            padding: 16px;
            @include center-items;
            gap: 16px;
            @include for-size (mobile){
                padding: 0px;
                margin-top: 16px;
            }
        }
        
    }
    .footer-line{
        width: 100%;
        height: 1px;
        background-color:$white-color;
        @include for-size (mobile){
            margin-bottom: 24px;
            margin-top: 24px;
        }
    }

    .bottom-part{
    @include center-items;
    justify-content: space-between;
    padding-top: 17px;
    @include for-size (mobile){
        flex-direction: column;
        align-items: flex-start;
    }
    p{
        @include footer-text-style;
        
    }
    }

}