#traffic-table {
    width: 100%;
    height: 695px;

    .table-container {
        padding: 8px 16px;
        height: 679px;
        @include table-container-style;

        @include for-size(tablet) {
            width: 868px;

        }

        @include for-size (mobile) {
            width: 100%;
            overflow: hidden;
            overflow-x: scroll;
        }

        .top-middle {
            width: 100%;

            @include for-size(mobile) {
                overflow: hidden;
            }

            .reports {
                @include for-size(mobile) {
                    display: none;
                }
            }
        }

        .tables {
            @include table-grid-template;

            @include for-size(tablet) {
                
                grid-template-columns: 40px 400px repeat(3, 122px);
               
            }

        }

        .column {
            @include center-all-elements;
            flex-direction: column;
            text-align: start;
            gap: 4px;

            span {
                @include span-table-template;
            }

            span:hover {
                border-color: $green-logo;
            }


        }

        .column span:nth-child(odd) {
            background-color: #101010;
            color: $white-color;
        }

        .column span:nth-child(1) {
            color: $green-text;
            margin-bottom: 13px;
            background-color: #161616;
        }

        .column span:nth-child(even) {
            background-color: #181818;
            color: $white-color;
        }
    }

    .line-border {
        width: 100%;
        opacity: 0.26;
        color: #E9ECEF;
        border: 0.5px solid;
        margin-top: 13px;
    }

    p {
        @include table-top-text;
        margin-bottom: 10px;
    }

    .top-middle {
        @include center-items;
        justify-content: space-between;

        h6 {
            @include report-text;

        }

        .reports {
            @include center-items;
            gap: 16px;
            cursor: pointer;
            transition: 0.4s;
        }

        :hover {
            color: $green-logo
        }

    }

    .table-footer {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        align-items: center;

        img {
            margin-left: 8px;
        }

        h6,
        h5 {
            @include center-items;
            @include dropdown-text-format;


        }

        h6 {
            @include dropdown-box;
            cursor: pointer;
        }

    }

    ul {
        list-style: none;
        padding: 0px;
        display: flex;

        li {
            position: relative;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
        }
    }


    .dropdown-content {
        display: none;
        position: absolute;

    }

    .dropdown:hover .dropdown-content {
        display: block;
        width: 100%;
        @include dropdown-box;


    }

    .dropdown-content li:hover {
        background-color: $green-logo;
        cursor: pointer;

    }

}