#traffic-table{


ul {
    list-style: none;
    padding: 0px;
    display: flex;

    li {
        position: relative;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
    }
}


.dropdown-content {
    display: none;
    position: absolute;

}

.dropdown:hover .dropdown-content {
    display: block;
    width: 100%;
    @include dropdown-box;


}

.dropdown-content li:hover {
    background-color: $green-logo;
    cursor: pointer;

}
}